<% if user_signed_in? %>
  <div class="panel panel-default post-form-panel">
    <div class="panel-body row">

      <div class="col-sm-1">
        <img src="/money-piggy-bank-front-with-dollar-sign.png" class="rounded-img" height="35px" width="35px">
      </div>
      <div class="col-sm-11">
        <%= form_for(@newPost) do |f| %>
          <center>
            <div class="field" style="margin-left: 10px;">
              <%= f.text_field :content, autofocus: true, class: "form-control" %>
              <span type="button" class: "btn btn-submit" style="float: right; margin-top: 3px;"> <%= f.submit "Add Post",class: "btn btn-primary" %></span>
            </div>

          </center>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
