<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-image hide-panel-body">
          <img src="http://www.metrony.com/wp-content/uploads/2016/01/Twitter-Banner-Template-social-media.png" class="panel-image-preview">
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-2"><img src="/money-piggy-bank-front-with-dollar-sign.png" height="50px" width="50px" class="rounded-img home-avatar"></div>
                <div class="col-sm-10"><h4 style="text-align: center;"><%= current_user.username %></h4></div>
                <div class="col-sm-12" style="margin-top: 10px;">
                  <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                    <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
                  </div>
                  <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                    <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                  </div>
                </div>
            </div>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 style="color: grey; font-size: 125%">Trends</h5>
        <a href="">#Trend #1</a><br>
        <span style="color: grey;">33k Posts</span><br><br>
        <a href="">#Trend #2</a><br>
        <span style="color: grey;">25k Posts</span><br><br>
        <a href="">#Trend #3</a><br>
        <span style="color: grey;">16k Posts</span><br><br>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render '/components/post_form' %><br><br>

    <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body row">
<a href=""/user/<%= User.find(@p.user_id).username %>"></a>
          <div class="col-sm-1">
            <img src="/money-piggy-bank-front-with-dollar-sign.png" class="rounded-img" height="50px" width="50px">
          </div>
          <div class="col-sm-11">
            <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="post-content"><%= @p.content %></p>
          </div>
          <div class="col-sm-12">
            <p class="post-links"></p>
            <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
            <a href="">View conversation</a>
          </div>

        </div>
      </div>
    <% end %>
    <div class="panel panel-default post-panel">
      <div class="panel-body row">
        <div class="col-sm-12">
          <center>
            <a href="#top">
            <img src="/money-piggy-bank-front-with-dollar-sign.png" height="25px" width="25px">
            <p style="opacity: 0.7; color: grey;"> Back to the Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="opacity: 0.5; font-size: 90%;">© 2016 Huitter About Help Terms Privacy Cookies Ads info Brand Blog Status Apps Jobs Businesses Media Developers</p>
      </div>
    </div>
  </div>
</div>
