<% if !user_signed_in? %>
<style media="screen">
  body {
    background:
    linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
      ),
       url("http://zellox.com/wp-content/uploads/2016/05/background-for-twitter-%E2%80%AB52771315%E2%80%AC-%E2%80%AB%E2%80%AC.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1  {
    color:white;
    font-weight: bold;
  }
  .container-index {
    margin-left: 15%;
    margin-right: 15%;
  }
  .text {
    color: white;
    font-weight: 300;
    font-size: 150%;
  }
  .footer-links {
    text-align: center;
    color: white;
    margin-top: 30%;
    font-size: 75%;
  }
  .log-in{
    float: right;
    width: 300px;
    height: 150px;
    margin-top: 7.5%;
  }
  .sign-up {
    float: right;
    width: 300px;
    height: 250px;
  }
</style>
<div class="container-index row">
  <div class="col-sm-6">
      <h1> Welcome to Huitter!</h1>
      <p class="text">
      Connect with people huiple bla bla bla <br>
      Connect with people huiple bla bla bla <br>
      Connect with people huiple bla bla bla
      </p>
  </div>
  <div class="col-sm-6">
    <div class="log-in panel">  LOgin

    </div>
    <div class="sign-up panel">
Sign up
    </div>
  </div>
  <div class="col-sm-12">
    <p class="footer-links">
      About  Help  Blog  Status  Jobs  Terms  Privacy  (c) 2016  Huitter
    </p>
  </div>
</div>
<% else %>
 <script type="text/javascript">
   document.location="/home"
 </script>
<%end%>
