<!-- second row -->
<div class="row">
  <div class="col-xs-3">
    <div class="col-sm-12" style="margin-top: -200px;">
      <img src="/money-piggy-bank-front-with-dollar-sign.png" class="rounded-img" height="200px" width="200px">
    </div>
    <div class="col-sm-12">
      <h3 style="font-weight: bold;"><%= params[:id] %></h3>
      <p>
        hello sokaidousjdjalkhslsadhkkahddjkhshd jsaf fsaflkj
      </p>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render '/components/post_form' %><br><br>

    <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body row">

          <div class="col-sm-1">
            <img src="/money-piggy-bank-front-with-dollar-sign.png" class="rounded-img" height="50px" width="50px">
          </div>
          <div class="col-sm-11">
            <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="post-content"><%= @p.content %></p>
          </div>
          <div class="col-sm-12">
            <p class="post-links"></p>
            <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
            <a href="">View conversation</a>
          </div>
      </div>
    </div>
    <% end %>
    <div class="panel panel-default post-panel">
      <div class="panel-body row">
        <div class="col-sm-12">
          <center>
            <a href="#top">
            <img src="/money-piggy-bank-front-with-dollar-sign.png" height="25px" width="25px">
            <p style="opacity: 0.7; color: grey;"> Back to the Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 style="color: grey; font-size125%;">Who to Follow</h5>
        <% for @u in @toFollow do %>
          <p style="font-weight: bold; opacity: 0.85;">
            <a href="/user/<%= @u.username %>"><%= @u.username %></a>
          </p>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 style="color: grey; font-size: 125%">Trends</h5>
        <a href="">#Trend #1</a><br>
        <span style="color: grey;">33k Posts</span><br><br>
        <a href="">#Trend #2</a><br>
        <span style="color: grey;">25k Posts</span><br><br>
        <a href="">#Trend #3</a><br>
        <span style="color: grey;">16k Posts</span><br><br>
      </div>
    </div>
  </div>
</div>
