// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgba(212,216,212,0.25)
}

.navbar {
  background-color: white;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-right: 25px !important;
  display: block;
}

.post-panel {
  margin-top: -21px;
}

.post-links{
  text-align: left;
}
.post-title {
  margin-left: 15px;
  text-align: left;
}
.post-content {
  margin-left: 15px;
  text-align: left;
}

.post-owner {
  color: black;
  font-weight: bold;
}

.post-creation {
  opacity: 0.7;
}

.g-links {
  opacity: 0.4;
  font-size: 120%;
  margin-right: 75px;
}

.rounded-img {
  border-radius: 5%;
}

.post-form-panel {
  margin-bottom: -21px;
}

.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}
.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}
.panel-footer {
    background-color: white;
}
.profile-banner {
    width: 100%;
    height: 500px;
    margin-top: -21px;
}
